# Data Importing and Cleaning

For this project, we'll be working with a set of Public Use Files (PUFs) from the Centers of Medicare and Medicaid Services (CMS). Namely, we will be working with the Medicare Physician & Other Practitioners by Provider and Service datasets over the available years, from 2013 to 2020. 

## Steps

Before we can get to any interesting applications for this project, we need to do the following:
- Import the data into Python
- Get the data in a usable format
- Select the variables of interest for our applications

### Importing the Data

First, we need to import the data that we wish to use. To begin, we first download the data from the CMS data website ([data.cms.gov](https://data.cms.gov/provider-summary-by-type-of-service/medicare-physician-other-practitioners/medicare-physician-other-practitioners-by-provider-and-service)).

Each year's dataset is about 3 GB total, so altogether, this is about 24 GB of data. We will download this and save to our project folder. Let's check and see if each year's file is there. First, we'll import the `os` module and make sure that our project folder is our current working directory.

In [1]:
# Import the os module
import os
import gc
os.getcwd()

'/geode2/home/u010/ausknies/Carbonate/Desktop/Erdos Fall 2022 Project'

Cool, we're good to go. Now, let's check if our data files are there. The data is split into annual releases of `.csv` files, and I have saved them under the name `DXX_Prov_Svc.csv` where `XX` $\in \{13,14,15,16,17,18,19,20\} \subset \mathbb{N}$ for each year of data. 

To check, let's make a list of each of the files we want to use, and then we can build a simple `for` loop that tells us if each file is there.

In [2]:
file_list = ['D13_Prov_Svc.csv','D14_Prov_Svc.csv','D15_Prov_Svc.csv','D16_Prov_Svc.csv',
             'D17_Prov_Svc.csv', 'D18_Prov_Svc.csv','D19_Prov_Svc.csv','D20_Prov_Svc.csv']

for i in file_list:
    print("True or false:",i,"exists.")
    print(os.path.isfile(i))

True or false: D13_Prov_Svc.csv exists.
True
True or false: D14_Prov_Svc.csv exists.
True
True or false: D15_Prov_Svc.csv exists.
True
True or false: D16_Prov_Svc.csv exists.
True
True or false: D17_Prov_Svc.csv exists.
True
True or false: D18_Prov_Svc.csv exists.
True
True or false: D19_Prov_Svc.csv exists.
True
True or false: D20_Prov_Svc.csv exists.
True

Alright, our files are all there. Now, let's read them in.

In [3]:
import pandas as pd

In [4]:
D13 = pd.read_csv("D13_Prov_Svc.csv")
D13['Data_Year'] = 2013
D14 = pd.read_csv("D14_Prov_Svc.csv")
D14['Data_Year'] = 2014
dfmain = pd.concat([D13,D14], ignore_index=True)
del D13
del D14
gc.collect()
D15 = pd.read_csv("D15_Prov_Svc.csv")
D15['Data_Year'] = 2015
dfmain = pd.concat([dfmain,D15], ignore_index=True)
del D15
gc.collect()
D16 = pd.read_csv("D16_Prov_Svc.csv")
D16['Data_Year'] = 2016
dfmain = pd.concat([dfmain,D16], ignore_index=True)
del D16
gc.collect()
D17 = pd.read_csv("D17_Prov_Svc.csv")
D17['Data_Year'] = 2017
dfmain = pd.concat([dfmain,D17], ignore_index=True)
del D17
gc.collect()
D18 = pd.read_csv("D18_Prov_Svc.csv")
D18['Data_Year'] = 2018
dfmain = pd.concat([dfmain,D18], ignore_index=True)
del D18
gc.collect()
D19 = pd.read_csv("D19_Prov_Svc.csv", encoding_errors = "ignore") # had some encoding errors
D19['Data_Year'] = 2019
dfmain = pd.concat([dfmain,D19], ignore_index=True)
del D19
gc.collect()
D20 = pd.read_csv("D20_Prov_Svc.csv", encoding_errors = "ignore") # had some encoding errors
D20['Data_Year'] = 2020
dfmain = pd.concat([dfmain,D20], ignore_index=True)
del D20
gc.collect()

/tmp/ipykernel_21088/4096827873.py:1: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  D13 = pd.read_csv("D13_Prov_Svc.csv")
/tmp/ipykernel_21088/4096827873.py:3: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  D14 = pd.read_csv("D14_Prov_Svc.csv")
/tmp/ipykernel_21088/4096827873.py:9: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  D15 = pd.read_csv("D15_Prov_Svc.csv")
/tmp/ipykernel_21088/4096827873.py:14: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  D16 = pd.read_csv("D16_Prov_Svc.csv")
/tmp/ipykernel_21088/4096827873.py:19: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  D17 = pd.read_csv("D17_Prov_Svc.csv")
/tmp/ipykernel_21088/4096827873.py:24: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  D18 = pd.read_csv("D18_Prov_Svc.csv")
/tmp/ipykernel_21088/4096827873.py:29: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  D19 = pd.read_csv("D19_Prov_Svc.csv", encoding_errors = "ignore") # had some encoding errors
/tmp/ipykernel_21088/4096827873.py:34: DtypeWarning: Columns (11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  D20 = pd.read_csv("D20_Prov_Svc.csv", encoding_errors = "ignore") # had some encoding errors

0

In [5]:
print("Total number of observations:")
print(dfmain['Data_Year'].count())
print("Total number of unique providers:")
print(dfmain['Rndrng_NPI'].nunique())
print("Same number of observations for a different variable?")
print(dfmain['Rndrng_NPI'].count())
print("Difference between count and size from missing values?")
print(dfmain['Rndrng_NPI'].size)

Total number of observations:
77213483
Total number of unique providers:
1490518
Same number of observations for a different variable?
77213483
Difference between count and size from missing values?
77213483

In [6]:
dfmain.head()

,Rndrng_NPI,Rndrng_Prvdr_Last_Org_Name,Rndrng_Prvdr_First_Name,Rndrng_Prvdr_MI,Rndrng_Prvdr_Crdntls,Rndrng_Prvdr_Gndr,Rndrng_Prvdr_Ent_Cd,Rndrng_Prvdr_St1,Rndrng_Prvdr_St2,Rndrng_Prvdr_City,...,HCPCS_Drug_Ind,Place_Of_Srvc,Tot_Benes,Tot_Srvcs,Tot_Bene_Day_Srvcs,Avg_Sbmtd_Chrg,Avg_Mdcr_Alowd_Amt,Avg_Mdcr_Pymt_Amt,Avg_Mdcr_Stdzd_Amt,Data_Year
0,1003000126,Enkeshafi,Ardalan,NaN,M.D.,M,I,900 Seton Dr,NaN,Cumberland,...,N,F,138,142.0,142,368.626761,132.170070,104.299718,107.211127,2013
1,1003000126,Enkeshafi,Ardalan,NaN,M.D.,M,I,900 Seton Dr,NaN,Cumberland,...,N,F,95,96.0,96,524.604167,196.932396,155.901146,157.598854,2013
2,1003000126,Enkeshafi,Ardalan,NaN,M.D.,M,I,900 Seton Dr,NaN,Cumberland,...,N,F,47,61.0,61,97.000000,37.688197,30.065246,30.584918,2013
3,1003000126,Enkeshafi,Ardalan,NaN,M.D.,M,I,900 Seton Dr,NaN,Cumberland,...,N,F,381,777.0,777,187.594595,69.433539,55.091351,55.957773,2013
4,1003000126,Enkeshafi,Ardalan,NaN,M.D.,M,I,900 Seton Dr,NaN,Cumberland,...,N,F,106,170.0,170,271.976471,101.070353,80.641235,80.939824,2013

### Cleaning the Data

Now that we've loaded the data, we will start the process of cleaning the data to make it ready for the machine learning process ahead. The observations of the data we have are at the provider-year-HCPCS code-place of service level. In this project, we want to focus on the provider-year-HCPCS code level, and so we will first subset our data to the majority value in the place of service category.

There are two place-of-service values: facility or non-facility (office). Let's see how many provider-year-HCPCS code combinations exist for each `Place_Of_Srvc` value.

In [7]:
dfmain['Place_Of_Srvc'].value_counts()

O    47171355
F    30042128
Name: Place_Of_Srvc, dtype: int64

It looks like non-facility, or office, observations are the largest in our data. Let's subset our data so that we are only looking at provider-year-HCPCS code combinations that are of this category.

In [8]:
dfmain = dfmain[dfmain['Place_Of_Srvc']=='O']
dfmain

,Rndrng_NPI,Rndrng_Prvdr_Last_Org_Name,Rndrng_Prvdr_First_Name,Rndrng_Prvdr_MI,Rndrng_Prvdr_Crdntls,Rndrng_Prvdr_Gndr,Rndrng_Prvdr_Ent_Cd,Rndrng_Prvdr_St1,Rndrng_Prvdr_St2,Rndrng_Prvdr_City,...,HCPCS_Drug_Ind,Place_Of_Srvc,Tot_Benes,Tot_Srvcs,Tot_Bene_Day_Srvcs,Avg_Sbmtd_Chrg,Avg_Mdcr_Alowd_Amt,Avg_Mdcr_Pymt_Amt,Avg_Mdcr_Stdzd_Amt,Data_Year
20,1003000142,Khalil,Rashid,NaN,M.D.,M,I,4126 N Holland Sylvania Rd,Suite 220,Toledo,...,N,O,70,70.0,70,214.000000,159.039000,122.981571,127.902571,2013
21,1003000142,Khalil,Rashid,NaN,M.D.,M,I,4126 N Holland Sylvania Rd,Suite 220,Toledo,...,N,O,68,169.0,169,166.284024,100.853136,79.205621,84.587929,2013
43,1003000423,Velotta,Jennifer,A,M.D.,F,I,11100 Euclid Ave,NaN,Cleveland,...,N,O,16,18.0,18,10.000000,3.196667,3.196667,3.520000,2013
44,1003000423,Velotta,Jennifer,A,M.D.,F,I,11100 Euclid Ave,NaN,Cleveland,...,N,O,25,32.0,32,90.000000,68.631250,51.410313,55.199375,2013
45,1003000423,Velotta,Jennifer,A,M.D.,F,I,11100 Euclid Ave,NaN,Cleveland,...,N,O,29,29.0,29,80.000000,36.300690,36.300690,38.110000,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77213470,1992999825,Deschenes,Geoffrey,R,M.D.,M,I,1100 9th Ave,Ms:m4-Pfs,Seattle,...,N,O,49,53.0,53,322.000000,142.824151,111.317736,95.567925,2020
77213471,1992999825,Deschenes,Geoffrey,R,M.D.,M,I,1100 9th Ave,Ms:m4-Pfs,Seattle,...,N,O,84,87.0,87,128.000000,53.846552,35.635747,31.444138,2020
77213473,1992999825,Deschenes,Geoffrey,R,M.D.,M,I,1100 9th Ave,Ms:m4-Pfs,Seattle,...,N,O,63,63.0,63,287.000000,119.228730,83.467460,74.464127,2020
77213475,1992999825,Deschenes,Geoffrey,R,M.D.,M,I,1100 9th Ave,Ms:m4-Pfs,Seattle,...,N,O,107,107.0,107,433.000000,179.413364,136.015981,124.233832,2020
77213477,1992999825,Deschenes,Geoffrey,R,M.D.,M,I,1100 9th Ave,Ms:m4-Pfs,Seattle,...,N,O,162,204.0,204,288.000000,119.577794,87.928480,79.598775,2020

Great. Now that we've subset our data by place of service, there are three variables (characteristics) that we want to use in our analysis:

1. Share of total services (beneficiary per day) provided
2. Average submitted charge
3. Average paid amount

The latter two are already in our dataset at the provider-HCPCS-year level. However, we will have to do some data transformation to get the first variable. We have the total number of services provided annually, with a filter that limits the duplication to counting only services to one beneficiary per day. 

To get the share, we first need to calculate the total number of services provided annually by each provider across all procedure codes. Using `pandas`, we will create a data frame that sums all services by provider and year, and then we will merge this back in to the main dataset.

In [9]:
# group by provider and year, sum across services by HCPCS code
dftotsvcs = dfmain.groupby(['Rndrng_NPI','Data_Year'],as_index=False)['Tot_Bene_Day_Srvcs'].sum()

In [10]:
# rename the aggregated service count so no conflict when merging
dftotsvcs = dftotsvcs.rename(columns={"Tot_Bene_Day_Srvcs":"Agg_Ann_Tot_Svcs"})# rename
dftotsvcs.head()

   Rndrng_NPI  Data_Year  Agg_Ann_Tot_Svcs
0  1003000142       2013               239
1  1003000142       2014               362
2  1003000142       2015               371
3  1003000142       2016               445
4  1003000142       2017               617

In [11]:
# Merge the summarized file back with the main data frame
dfmain = dfmain.merge(dftotsvcs, how='left', on=['Rndrng_NPI','Data_Year'])

Now that we've got the annual total number of services by provider, we just create a new variable that divides total services by HCPCS code by the annual total to get the share.

In [12]:
# generate new column representing share
dfmain = dfmain.assign(Share_Srvcs=dfmain['Tot_Bene_Day_Srvcs']/dfmain['Agg_Ann_Tot_Svcs'])

In [13]:
# and we have our variables
dfmain

,Rndrng_NPI,Rndrng_Prvdr_Last_Org_Name,Rndrng_Prvdr_First_Name,Rndrng_Prvdr_MI,Rndrng_Prvdr_Crdntls,Rndrng_Prvdr_Gndr,Rndrng_Prvdr_Ent_Cd,Rndrng_Prvdr_St1,Rndrng_Prvdr_St2,Rndrng_Prvdr_City,...,Tot_Benes,Tot_Srvcs,Tot_Bene_Day_Srvcs,Avg_Sbmtd_Chrg,Avg_Mdcr_Alowd_Amt,Avg_Mdcr_Pymt_Amt,Avg_Mdcr_Stdzd_Amt,Data_Year,Agg_Ann_Tot_Svcs,Share_Srvcs
0,1003000142,Khalil,Rashid,NaN,M.D.,M,I,4126 N Holland Sylvania Rd,Suite 220,Toledo,...,70,70.0,70,214.000000,159.039000,122.981571,127.902571,2013,239,0.292887
1,1003000142,Khalil,Rashid,NaN,M.D.,M,I,4126 N Holland Sylvania Rd,Suite 220,Toledo,...,68,169.0,169,166.284024,100.853136,79.205621,84.587929,2013,239,0.707113
2,1003000423,Velotta,Jennifer,A,M.D.,F,I,11100 Euclid Ave,NaN,Cleveland,...,16,18.0,18,10.000000,3.196667,3.196667,3.520000,2013,99,0.181818
3,1003000423,Velotta,Jennifer,A,M.D.,F,I,11100 Euclid Ave,NaN,Cleveland,...,25,32.0,32,90.000000,68.631250,51.410313,55.199375,2013,99,0.323232
4,1003000423,Velotta,Jennifer,A,M.D.,F,I,11100 Euclid Ave,NaN,Cleveland,...,29,29.0,29,80.000000,36.300690,36.300690,38.110000,2013,99,0.292929
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47171350,1992999825,Deschenes,Geoffrey,R,M.D.,M,I,1100 9th Ave,Ms:m4-Pfs,Seattle,...,49,53.0,53,322.000000,142.824151,111.317736,95.567925,2020,514,0.103113
47171351,1992999825,Deschenes,Geoffrey,R,M.D.,M,I,1100 9th Ave,Ms:m4-Pfs,Seattle,...,84,87.0,87,128.000000,53.846552,35.635747,31.444138,2020,514,0.169261
47171352,1992999825,Deschenes,Geoffrey,R,M.D.,M,I,1100 9th Ave,Ms:m4-Pfs,Seattle,...,63,63.0,63,287.000000,119.228730,83.467460,74.464127,2020,514,0.122568
47171353,1992999825,Deschenes,Geoffrey,R,M.D.,M,I,1100 9th Ave,Ms:m4-Pfs,Seattle,...,107,107.0,107,433.000000,179.413364,136.015981,124.233832,2020,514,0.208171
47171354,1992999825,Deschenes,Geoffrey,R,M.D.,M,I,1100 9th Ave,Ms:m4-Pfs,Seattle,...,162,204.0,204,288.000000,119.577794,87.928480,79.598775,2020,514,0.396887

Now that we've gotten the characteristics we need, the final step in the cleaning process is going to be dropping variables we don't need and then limiting our dataset to the top most common procedures. Let's go with the top 100. This will help us in terms of memory as well as relevancy. First, we'll find the top 100 most common procedures, here in terms of how many unique provider-year pairs there are for a given HCPCS code.

In [14]:
dfmain['HCPCS_Cd'].value_counts().nlargest(100)

99213    3088786
99214    2813597
99203    1229852
99204    1201811
G0008    1143467
          ...
J0702      86432
84439      86332
20550      86199
82306      85375
J1885      85052
Name: HCPCS_Cd, Length: 100, dtype: int64

In [15]:
# save top 100 most frequent HCPCS codes to list
top100codes = dfmain['HCPCS_Cd'].value_counts().nlargest(100).index.tolist()
top100codes

['99213',
 '99214',
 '99203',
 '99204',
 'G0008',
 '99212',
 '36415',
 '99215',
 '93000',
 '90662',
 'G0009',
 'G0439',
 '96372',
 '97110',
 '90670',
 '99205',
 '97140',
 '81002',
 '99202',
 '81003',
 '90732',
 '83036',
 '20610',
 '85025',
 '92014',
 '99211',
 '85610',
 '97112',
 'J3301',
 '90686',
 '92004',
 '97530',
 '98941',
 '80053',
 '71020',
 '80061',
 'G0180',
 'G0438',
 '92083',
 '73030',
 '92012',
 'J1100',
 '92250',
 '84443',
 '92133',
 '92134',
 '17000',
 '73630',
 '97001',
 'G0283',
 '93306',
 'J1030',
 'Q2037',
 '80048',
 '72100',
 'G0101',
 '69210',
 '98940',
 '81001',
 '17003',
 '73562',
 '93880',
 '77080',
 'J3420',
 '99308',
 '71046',
 'J1040',
 '90834',
 '17110',
 '97162',
 '90837',
 '97161',
 'J0696',
 '73560',
 '99309',
 '82570',
 '73502',
 'Q2038',
 '90791',
 '90656',
 '73610',
 '87804',
 '99495',
 'G0444',
 '11721',
 'Q0091',
 'G0402',
 '11100',
 '90653',
 '82962',
 'Q9967',
 'G0179',
 '99496',
 '97035',
 '87880',
 'J0702',
 '84439',
 '20550',
 '82306',
 'J1885']

In [16]:
# filter dataframe to top 100 HCPCS codes only
dfmain = dfmain[dfmain['HCPCS_Cd'].isin(top100codes)]

In [17]:
# can compare to before
print("Total number of observations:")
print(dfmain['Data_Year'].count())
print("Total number of unique providers:")
print(dfmain['Rndrng_NPI'].nunique())
print("Same number of observations for a different variable?")
print(dfmain['Rndrng_NPI'].count())
print("Difference between count and size from missing values?")
print(dfmain['Rndrng_NPI'].size)

Total number of observations:
29672609
Total number of unique providers:
1069492
Same number of observations for a different variable?
29672609
Difference between count and size from missing values?
29672609

In [18]:
# Before finishing up, let's check to make sure we don't have any duplicates
dfduplicate=dfmain[dfmain.duplicated(['Rndrng_NPI','Data_Year','HCPCS_Cd'])]
dfduplicate # should be none

Empty DataFrame
Columns: [Rndrng_NPI, Rndrng_Prvdr_Last_Org_Name, Rndrng_Prvdr_First_Name, Rndrng_Prvdr_MI, Rndrng_Prvdr_Crdntls, Rndrng_Prvdr_Gndr, Rndrng_Prvdr_Ent_Cd, Rndrng_Prvdr_St1, Rndrng_Prvdr_St2, Rndrng_Prvdr_City, Rndrng_Prvdr_State_Abrvtn, Rndrng_Prvdr_State_FIPS, Rndrng_Prvdr_Zip5, Rndrng_Prvdr_RUCA, Rndrng_Prvdr_RUCA_Desc, Rndrng_Prvdr_Cntry, Rndrng_Prvdr_Type, Rndrng_Prvdr_Mdcr_Prtcptg_Ind, HCPCS_Cd, HCPCS_Desc, HCPCS_Drug_Ind, Place_Of_Srvc, Tot_Benes, Tot_Srvcs, Tot_Bene_Day_Srvcs, Avg_Sbmtd_Chrg, Avg_Mdcr_Alowd_Amt, Avg_Mdcr_Pymt_Amt, Avg_Mdcr_Stdzd_Amt, Data_Year, Agg_Ann_Tot_Svcs, Share_Srvcs]
Index: []

[0 rows x 32 columns]

Now, let's drop the rest of the variables that we don't need. Again, this will help with memory. 

The only variable we are saving here that we haven't talked about is `Rndrng_Prvdr_Type`. Since certain characteristics may be heterogeneous in nature across provider types, we will keep this variable in case it can enhance our machine learning process later.

In [19]:
dfmain = dfmain[['Rndrng_NPI','Rndrng_Prvdr_Type','HCPCS_Cd','Data_Year','Share_Srvcs','Avg_Sbmtd_Chrg','Avg_Mdcr_Pymt_Amt']]

In [20]:
dfmain.to_csv("dfmain.csv") # save cleaned data for easy read for analysis

That's it for data importing and cleaning! Now, we can use the cleaned data for the next steps.